body {
  background-color: #303030;
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: "Quicksand";
  padding-top: 5%;
  word-wrap: break-word;
}

.XRPCard {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: left;
  margin-top: 2em;
  background-color: #303030;
}

.XRPInput {
  background-color: #303030;
  margin-top: 2em;

  color: white;
}

.form-control:focus {
  background-color: #303030;
  color: white;
}

.form-control {
  background-color: #303030;
  color: white;
}

.input {
  background-color: #303030;
  color: white;
}

.navbar {
  color: #ff9902;
  font-family: "Quicksand";
  font-size: 24px;
  margin-bottom: 5px;

}

.dropdown-menu.show {
  background-color: #303030;
}

.Border {
  border-style: solid;
  border-color: #ff9902;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
}

.ShowMore:hover,
.ShowMore:focus,
.ShowMore {
  border-style: solid;
  border-color: #ff9902;
  background-color: #303030;

}

.BorderValidator {
  border-style: solid;
  border-color: #ff9902;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  text-align: left;
  border-radius: 40px;
}

.agreement {
  margin-left: 10px;
}



.textAlign {
  padding-top: 5px;
}

.tr {
  text-align: left;
}

#basic-nav-dropdown {
  color: #ff9902;
}